<div class="padding-bottom">
	<div id="footerAccentLine" class="centered"></div>
	<div id="footerIconWrapper" class="padding-top">
		<img src="img/icon/LauraServiceIcon.gif" id="footerIcon">
	</div>
	<div class="centered padding-top footerText">
		<ul>
			<li class="footerTextItem">&copy; 2015 All Rights Reserved</li>
			<li class="footerTextItem">laura.service1@gmail.com</li>
			<li class="footerTextItem">438 350 7191</li>
		</ul>
	</div>
	<div>
		<ul id="iconList">
			<li class="iconLi"><img class="icon" src="img/icon/facebook-icon.svg"></img></li>
			<li class="iconLi"><img class="icon" src="img/icon/twitter-icon.svg"></img></li>
			<li class="iconLi"><img class="icon" src="img/icon/linkedin-icon.svg"></img></li>
		</ul>
	</div>
</div>