

/* unvisited link */
a:link {
    color: #707070;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #707070;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #707070;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #707070;
    text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

li {
	display:inline;

}


/* Stuff for the animated nav Bar */

#header {

    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2001;
}

#header-wrap {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 2000;
    height: 60px;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

/*clear version */

#header-wrap.clear {
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0);
    z-index: 2000;
    height: 60px;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

}

.scrolled.clear#header-wrap {
  height: 50px;
  background-color: rgba(255,255,255,1);
    -webkit-transition: background-color 1200ms linear;
    -moz-transition: background-color 1200ms linear;
    -o-transition: background-color 1200ms linear;
    -ms-transition: background-color 1200ms linear;
    transition: background-color 1200ms linear;

}

.navLinksA.clear {

	color: white;
}



/* Nav Bar */

#icon {

	width: 50px;
	transition: 0.5s ease;
	
}

.iconSpan {

	position: relative;
	left: 5%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;;
	transition: 0.5s ease;
}

#navSide {

	position: absolute;
	right: 5%;
	bottom: 0%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	transition: 0.5s ease;
}

.navList {
	padding-left: 7px;
	padding-right: 7px;
	transition: 0.5s ease; 
}

/* Scrolled Nav CSS */



.scrolled#header-wrap {
  height: 50px;
  color: rgba(0,0,0,1);

}

.scrolled#icon {

	position: absolute;
	bottom: 5%;
	width: 30px;
	transition: 0.5s ease;
}

.scrolled.iconSpan {
	position: absolute;
	left: 1%;
	top: 6px;
	transition: 0.5s ease;

}

.scrolled#navSide {

	right: 5%;
	margin-left: auto;
	margin-right: auto;
	bottom: 15px;
	text-align: right;
	transition: 0.5s ease;
}

.scrolled#header {

	height: 20px;
}


/* For the home Page */

.projects {

		width: 90%;
		margin-left: auto;
		margin-right: auto;

}

.projectName {

	position: absolute;
	text-align:center;
	width: 100%;
	top: 40%;
	color: white;
	font-size: 2em;
	text-shadow: 0px 0px 10px rgba(32,32,32, 0.9);
	z-index: 1000;

}

.projectImage {

	position: relative;
	width: 100%;
	border: 0;
	padding-top: 0;
}

.image-wrapper img  {

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;


}

.image-wrapper:hover img {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}

.image-wrapper {

	overflow: hidden;
	margin-bottom: 25px;
}


img {
	padding: 0;
	border: 0;
}

.tintImage {

	opacity: .75;
}

.tinted {
	display: block;
	background: rgba(0, 0, 0, 1)
}

#homepageHead {

	height: 400px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#homepageHeadText {

	font-size: 2em;
	text-align:left;
	display:inline-block;
	position: absolute;
	bottom: 0%;
	color: #707070;

}

#homepageName {

	color: black;
}

/* Projets */

.accentLine {

	border-top: 3px solid #CCFFCC;
	border-bottom: 3px solid #CCFFCC;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

/* SideBar */

.sidebarTitle {

	display: block;
	font-weight: bold;
	font-size: 1.2 em;

}


/* Flexbox Description SideBar */
.containerFlex {

	display: flex;
	width: 90%;
	margin: auto;
	space-between;
}

#sidebar {

	order: 2;

}

#description {

	width: 80%;
	order: 1;
}


