
/* Nav Bar */

#icon {

	width: 80px;
}

#navSide {

	padding-top: 60px;
	padding-right: 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

li {
	display:inline;
}

/* For the home Page */

.projectName {

	position: absolute;
	text-align:center;
	width: 100%;
	top: 250px;
	color: white;

}

.projectImage {

	position: relative;
	width: 100%;
	border: 0;
	padding-top: 0;
	padding-bottom: 20px;
}

img {
	padding: 0;
	border: 0;
}