<div id="homepageHead" class="centered">
	<h1 id="homepageHeadText"><span id="homepageName">I’m Laura Service,</span>a digital design geek obsessed with form &amp; function.</h1>
</div>
<div class="tintPortrait projectImage centered">
<a id="portraitLink" class="sansSerif">CHECK OUT COOL DESIGN STUFF I LIKE</a>
<div>
		<img class="img-responsive tintImage" src="img/workedWithIcons/laura-portrait.jpg">
	</div>
</div>
<div class="accentLine centered">
		<div class="accentItem sansSerif">ABOUT ME</div>
		<div id="accentCircle">&bullet;</div>
		<div class="accentItem sansSerif">WHAT I DO</div>
		<div id="accentCircle">&bullet;</div>
		<div class="accentItem sansSerif">MY CLIENTS</div>
</div>
<div id="contentSection" class="containerFlex centered">
		<div ng-bind-html="about.description" class="padding-bottom contentParagraph"></div>
		<div id="sidebar" class="padding-bottom">
			<ul ng-repeat="(key, item) in about.sidebar">
				<li class="sidebarTitle sansSerif">{{ key }}</li>
				<li class="sidebarInfo" ng-bind-html="item"></li>

			</ul>
		</div>
	</div>
	<h1 class="title centered">What I do best</h1>
	<div class="centered aboutIconContainer">
		<div class="box-fade">
			<div class="iconFadeContent">
				<div class="iconFadeContainer"><img class="iconFade"src="img/icon/interaction-design.svg"/></div>
				<div class="fade-title sansSerif">INTERACTION DESIGN</div>
				<div class="fade-description"><div class="fade-top-text">I craft clear user experiences that encourage readers to explore, learn and be entertained.</div><div class="iconFadeBottomText sansSerif">I provide services for responsive website design, microsites, apps, and content strategy.</div></div>
		</div>
		</div>
		<div class="accentLineIcon"></div>
		<div class="box-fade">
			<div class="iconFadeContent">
				<div class="iconFadeContainer"><img class="iconFade" src="img/icon/branding.svg"/></div>
				<div class="fade-title sansSerif">BRANDING</div>
				<div class="fade-description"><div class="fade-top-text"> I transform my client’s image by developing their brand to be more impactful, trustworthy and effective.</div><div class="iconFadeBottomText sansSerif" >I provide services for art direction, graphic identity, illustration, photography, and print design.</div></div>
			</div>
		</div>
		<div class="accentLineIcon"></div>
		<div class="box-fade">
			<div class="iconFadeContent">
				<div class="iconFadeContainer"><img class="iconFade" src="img/icon/data-visualization.svg"/></div>
				<div class="fade-title sansSerif">DATA VISUALIZATION</div>
				<div class="fade-description"><div class="fade-top-text">I extract content from spreadsheets to visualize trends, facilitate user exploration and explain ideas efficiently.</div><div class="iconFadeBottomText sansSerif">I provide services for infographics, annual reports, mapping, system diagrams, and motion.</div></div>
		</div>
	</div>
	</div>
	<h1 class="title centered workedWith">I've worked with</h1>

	<ul class="padding-top centered clients-list">
		<li class="clients-item air-canada"><img src="img/workedWithIcons/Air-Canada.svg" alt="Air Canada"></li>
		<li class="clients-item apex"><img src="img/workedWithIcons/Apex.svg" alt="APEX"></li>
		<li class="clients-underline2"></li>
		<li class="clients-item cinema-du-quebec"><img src="img/workedWithIcons/Cinema-du-Quebec.svg" alt="Cinema du Quebec"></li>
		<li class="clients-underline3"></li>
		<li class="clients-item enroute"><img src="img/workedWithIcons/enRoute.svg" alt="enRoute"></li>
		<li class="clients-underline4"></li>
		<li class="clients-item filmbank"><img src="img/workedWithIcons/Filmbank.svg" alt="Filmbank"></li>
		<li class="clients-item logistik"><img src="img/workedWithIcons/Logistik.svg" alt="Logistik Unicorp"></li>
		<li class="clients-underline3"></li>
		<li class="clients-underline2"></li>
		<li class="clients-item mercedes-benz"><img src="img/workedWithIcons/Mercedes-Benz-Magazine.svg" alt="Mercedes-Benz Canada Magazine"></li>
		<li class="clients-item penny-black-media"><img src="img/workedWithIcons/Penny-Black-Media.svg" alt="Penny Black Media"></li>
		<li class="clients-underline4"></li>
		<li class="clients-item spafax"><img src="img/workedWithIcons/Spafax.svg" alt="Spafax"></li>
		<li class="clients-underline3"></li>
		<li class="clients-item sparksheet"><img src="img/workedWithIcons/Sparksheet.svg" alt="Sparksheet"></li>
		<li class="clients-underline2"></li>
		<li class="clients-item vancouver-island-university"><img src="img/workedWithIcons/Vancouver-Island-University.svg" alt="Vancouver Island University"></li>
		<li class="clients-item vista-jet"><img src="img/workedWithIcons/Vista-Jet.svg" alt="Vista Jet"></li>
	</ul>