<div id="homepageHead" class="centered">
	<h1 id="homepageHeadText"><span id="homepageName">I'm Laura Service</span>, a fun-loving design geek obsessed with form &amp; function.</h1>
</div>
<div>
	<img class="img-responsive centered">
</div>
<div class="accentLine centered">
		<div class="accentItem sansSerif">ABOUT ME</div>
		<div id="accentCircle"></div>
		<div class="accentItem sansSerif">ABOUT MY WORK</div>
</div>
<div id="contentSection" class="containerFlex centered">
		<div ng-bind-html="about.description" class="padding-bottom contentParagraph"></div>
		<div id="sidebar" class="padding-bottom">
			<ul ng-repeat="(key, item) in about.sidebar">
				<li class="sidebarTitle sansSerif">{{ key }}</li>
				<li class="sidebarInfo" ng-bind-html="item"></li>

			</ul>
		</div>
	</div>
	<h1 class="title">What I do best</h1>
	<div>
	</div>
	<h1 class="title">I've worked with</h1>
	<div>
	</div>