<div class="padding-bottom">
	<div id="footerAccentLine" class="centered"></div>
	<div id="footerIconWrapper" class="padding-top">
		<img src="img/icon/LauraServiceIcon.gif" id="footerIcon">
	</div>
	<div class="centered padding-top footerText">
		<ul>
			<li class="footerTextItem">All Rights Reserved</li>
			<li class="footerTextItem">hello@lauaraceservice.ca</li>
			<li class="footerTextItem">438 350 7191</li>
		</ul>
	</div>
	<div>
		<ul id="iconList">
			<li class="iconLi"><i class="icon icon-facebook-official icon-2x"></i></li>
			<li class="iconLi"><i class="icon icon-twitter icon-2x"></i></li>
			<li class="iconLi"><i class="icon icon-linkedin icon-2x"></i></li>
		</ul>
	</div>
</div>