<div id="homepageHead" class="centered">
	<p id="homepageHeadText"><span id="homepageName">Laura Service</span> is an interaction, UI/UX and branding designer in Montreal</p>
</div>

<div class="centered">
	<ul>
		<li ng-repeat="project in projects">
			<div class="projectImage image-wrapper">
				<a href="#/projects/{{ project.id }}"><p class="projectName">{{project.name}}</p>
				<div class="tinted">
					<img class="img-responsive tintImage image" ng-src="{{ project.imageUrl }}"></a>
				</div>
			</div>
		</li>
	</ul>
</div>