<div id="projectPage">
	<div id="projectImageWrapper"><img class="img-responsive" src="{{ projectSingle.backgroundImage }}"></div>
	<h1 id="title" class="centered">{{ projectSingle.title }}</h1>
	<div class="accentLine centered">
		<div class="accentItem sansSerif">{{ projectSingle.company }}</div>
		<div id="accentCircle">&bullet;</div>
		<div class="accentItem sansSerif"> {{ projectSingle.year }}</div>
		<div id="shareProject">
			<img id="shareIcon" src="img/icon/share-icon.svg"></img><a id="shareLink" href="">Share</a>
		</div>
	</div>
	<div id="contentSection" class="containerFlex centered">
		<div ng-bind-html="description" class="padding-bottom contentParagraph"></div>
		<div id="sidebar" class="padding-bottom">
			<ul ng-repeat="(key, item) in projectSingle.sidebar">
				<li class="sidebarTitle sansSerif">{{ key }}</li>
				<li class="sidebarInfo" ng-bind-html="item"></li>

			</ul>
		</div>
	</div>

	<div class="centered" ng-repeat="image in projectSingle.images">
		<img class="img-responsive padding-bottom" src="{{ image }}">
	</div>

</div>
<div id="projectFooter">
	<div><a id="projectSingleBack" class="sansSerif">BACK TO TOP</a></div>
	<div><a id="projectSingleLink" href="http://{{ projectSingle.link }}">{{ projectSingle.link }}</a></div>
	<h1 id="projectFooterTitle">More Work</h1>
	<img id="greenArrow" src="img/icon/Arrow.gif">
</div>

<div class="projects centered">
	<ul>
		<li ng-repeat="project in projects">
			<div class="projectImage image-wrapper">
				<a href="#/projects/{{ project.id }}"><p class="projectName sansSerif">{{project.name}}</p>
				<div class="tinted">
					<img class="tintImage img-responsive image" ng-src="{{ project.imageUrl }}"></a>
				</div>
			</div>
		</li>
	</ul>
</div>