<div id="projectPage">
	<img class="img-responsive" src="{{ projectSingle.backgroundImage }}">
	<div id="title" class="centered">{{ projectSingle.title }}</div>
	<div class="accentLine centered">
		<div class="accentItem">{{ projectSingle.company }}</div>
		<div id="accentCircle"></div>
		<div class="accentItem"> {{ projectSingle.year }}</div>
		<div id="shareProject">
			<i id="shareIcon"class="icon icon-share-alt icon-2x"></i><a id="shareLink">Share</a>
		</div>
	</div>
	<div id="contentSection" class="containerFlex centered">
		<div ng-bind-html="description" class="padding-bottom contentParagraph"></div>
		<div id="sidebar" class="padding-bottom">
			<ul>
				<li class="sidebarTitle">Agency</li>
				<li class="sidebarInfo">{{ projectSingle.sidebar.agency }}</li>
				<li class="sidebarTitle">Category</li>
				<li class="sidebarInfo">{{ projectSingle.sidebar.category }}</li>
				<li class="sidebarTitle">Services</li>
				<li class="sidebarInfo">{{ projectSingle.sidebar.services }}</li>
				<li class="sidebarTitle">Recognition</li>
				<li class="sidebarInfo" ng-bind-html="projectSingle.sidebar.recognition"></li>
				<li class="sidebarTitle">Credits</li>
				<li class="sidebarInfo">{{ projectSingle.sidebar.credits }}</li>

			</ul>
		</div>
	</div>

	<div class="centered">
		<img class="img-responsive padding-bottom" src="{{ projectSingle.images.desktop }}">
		<img class="img-responsive padding-bottom" src="{{ projectSingle.images.mobile }}">
	</div>

</div>
<div id="projectFooter">
	<div><a id="projectSingleBack">BACK TO TOP</a></div>
	<div><a id="projectSingleLink" href="http://{{ projectSingle.link }}">{{ projectSingle.link }}</a></div>
	<div id="projectFooterTitle">More Work</div>
	<img id="greenArrow" src="img/icon/Arrow.gif">
</div>

<div class="projects centered">
	<ul>
		<li ng-repeat="project in projects">
			<div class="projectImage image-wrapper">
				<a href="#/projects/{{ project.id }}"><p class="projectName">{{project.name}}</p>
				<div class="tinted">
					<img class="img-responsive tintImage image" ng-src="{{ project.imageUrl }}"></a>
				</div>
			</div>
		</li>
	</ul>
</div>